.divLogotipo{
    text-align: left;
}

.divLogotipo img{
    height: 3em;
}
.divLog{
    text-align: right;
}
.divLog img{
    height: 2em;
}
.divTituloApp{
    text-align: center;
    margin:0 ;
    width: 100%;
    font-size: 1.5em;
}

#secEncabezadoPagina{
    border-bottom: 2px black solid;
    color: white;
}

#capaResultadosBusqueda{
    width: 762px;
    height: 566px;
    overflow: auto;
    scroll-behavior: smooth;
}