.divLogotipo{
    text-align: left;
}

.divLogotipo img{
    height: 3em;
}
.divLog{
    text-align: right;
}
.divLog img{
    height: 2em;
}
.divTituloApp{
    text-align: center;
    margin:0 ;
    width: 100%;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

#secEncabezadoPagina{
    border-bottom: 2px black solid;
    color: white;
}

#secEncabezadoPagina > div:first-of-type{
    margin:0;
}

#capaResultadosBusqueda{
    width: fit-content;
    height: 566px;
    overflow: auto;
    scroll-behavior: smooth;
    margin: 1em auto;
}

#tableDiv{
    width: fit-content;
    background: linear-gradient(to bottom right, #FFDB90, #7A5622);
    padding: 0.2em;
}

th{
    background-color: #010A13;
    font-family: 'beaufort-bold';
    color: var(--main-title-color);
    font-weight: normal;
}

tr{
    border-bottom: 1px white solid;
    background-color: #030D22;
}

td,th{
    padding: 0.3em 0.5em;
}

table tr:nth-child(even){
    background-color: #0f1c35;
}