#formularioBuscar{
    display: flex;
    gap: 1em;
}

.button-field{
    background: linear-gradient(to bottom right, #FFDB90, #7A5622);
    display: inline-block;
    height: fit-content;
}

.input-field {
    border-radius: 0px;
    border: 1.2px solid #FFDB90;
    background: #091325;
    width: 260px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.input-field>label {
    color: var(--secondary-title-color);
    border-bottom: 3px var(--main-title-color) solid;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    font-family: 'beaufort-bold';
    padding-top: 0.7em;
}

.input-field>input {
    height: 100%;
    background: transparent;
    border: none;
    color: #FFF;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'spiegel-regular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

span{
    font-size: 11px;
}

.input-field>* {
    margin: 0 17px;
}

button {
    margin: 3px;
    width: 6em;
    height: 2.6em;
    font-size: 2ch;
    background: linear-gradient(180deg, #205C8C 0%, #0E2C38 100%);
    box-shadow: 0px 0px 12px 0px #000 inset;
    color: var(--secondary-title-color)!important;
    border: none;

    font-style: normal;
    line-height: normal;
    letter-spacing: 1.15px;
}